.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-avatar {
  top: 20%;
  right: 20%;
  position: absolute;
  border-radius: 50%;
  height: 50%;
}

.App-header {
  background-image: url("./asserts/software.jpg");
  height: 400px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.title {
  color: black;
  font-size: 300%;
  margin: 1%;
  animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
}

.subTitle {
  color: gray;
  font-size: 150%;
  margin: 1%;
  animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
}
.img {
  position: relative;
  height: 60px;
  margin: 5px;
}
/* Safari, Chrome and Opera > 12.1 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
